@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #01684f;
  --ternary-color: rgb(245, 130, 32);
  --white-shade-1: #f0f0f0;
  --transition: all 300ms ease-in;
  --font-heading: "Montserrat", sans-serif;
  --font-text: "Calibri", arial;
  --font-primary: "Poppins", sans-serif;
  --padding-regular-1: 2rem;
  --padding-regular-2: 1rem;
  --padding-regular-3: 0.75rem;
  --padding-regular-4: 0.25rem;
}

.dashboard-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* overflow-x: hidden; */
}

/* mobile sectoin */

/* mobile navbar */
#mobile-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1;
}

.mobile-navbar__logo {
  width: 10rem;
}

#sidebar-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translate(-50%, 170%);
  background: transparent;
  border: none;
}

.sidebar-button__bar-one,
.sidebar-button__bar-two {
  width: 30px;
  height: 4px;
  background: var(--primary-color);
  margin-bottom: 5px;
  transition: all 700ms ease-in-out;
  border-radius: 5px;
}

.sidebar-button__bar-one-active {
  transform: translateY(5px) rotate(45deg);
}

.sidebar-button__bar-two-active {
  transform: translateY(-5px) rotate(-45deg);
}

.mobile-sidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--secondary-color);
  transition: all 700ms ease-in-out;
  z-index: 2;
  transform: translateX(100%);
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.active-sidebar {
  transform: translateX(0);
}

.mobile-sidebar__logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 6rem 0 3rem 0;
  border-radius: 10px;
}

.mobile-sidebar__logo-container__logo {
  width: 80px;
  border: 6px solid var(--ternary-color);
  border-radius: 50%;
  overflow: hidden;
}

.mobile-sidebar__logo-container h1 {
  color: white;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.sidebar-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem 0rem 1rem;
  background-color: var(--white-shade-1);
}

/* sidebar buttons  */
.sidebar-buttons-container button {
  width: 100%;
  display: grid;
  grid-template-columns: 3.25rem 1fr;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  cursor: pointer;
  text-align: left;
  border: none;
  margin-bottom: 1rem;
  transition: all 200ms ease-in-out;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: bold;
  font-family: var(--font-primary);
  color: black;
}

.sidebar-buttons-container button:hover {
  border-left: 4px solid var(--secondary-color);
  background-color: rgba(1, 104, 79, 0.85);
  color: var(--primary-color);
}

.sidebar-buttons-container button i {
  font-size: 1.25rem;
  pointer-events: none;
}

.sidebar-button-active {
  border-left: 5px solid var(--secondary-color) !important;
  background-color: var(--primary-color);
  color: var(--ternary-color) !important;
}

.sidebar {
  display: none;
}

#loader-verify {
  display: none;
}

.tabs-navbar {
  display: none;
}

.otp-container {
  display: none;
}

.tabs {
  height: 100vh;
  background: var(--white-shade-1);
  position: relative;
}

#main-form {
  width: 90vw;
  padding: 1rem;
}

#dashboard {
  transition: all 200ms linear;
  /* border-left: 2px solid var(--secondary-color); */
  transition: all 1000ms ease-in-out;
  display: flex;
  justify-content: center;
}

#profile {
  width: 100%;
  height: 100%;
  transition: all 200ms linear;
  /* border-left: 2px solid var(--secondary-color); */
  display: none;
}

.animation {
  animation: fade-in 700ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.notes {
  background-color: var(--white-shade-1);
  border-radius: 10px;
  font-size: 0.75rem;
  margin-top: 10px;
  padding: 1rem;
}

.notes ul {
  margin-left: 3rem;
}
.notes ul li {
  margin-bottom: 5px;
}

.forms {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

.forms form {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.forms form .common {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.85rem;
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.forms form label {
  /* width: 10rem; */
  font-weight: bold;
}

.forms form input {
  height: 1.75rem;
  /* width: 20rem; */
  padding: 1.15rem;
  background-color: var(--white-shade-1);
  border: none;
  border-radius: 5px;
}

.forms form input::placeholder {
  letter-spacing: 0.5px;
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 13px;
}

.forms form input:focus {
  background-color: var(--primary-color);
  outline: 2px solid var(--secondary-color);
}

.forms form .address .address-container {
  display: flex;
  flex-direction: column;
}

.forms form .address label {
  align-self: flex-start;
  letter-spacing: 0.5px;
}

.forms form .address div input {
  margin-bottom: 0.25rem;
}

.forms form .buttons {
  display: flex;
  margin-top: 2rem;
}

.forms form .buttons button {
  padding: 1rem;
  margin-right: 1rem;
  border: none;
  background: var(--ternary-color);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: var(--font-heading);
  font-weight: bolder;
  transition: all 200ms ease-in-out;
  letter-spacing: 1px;
}

.forms form .buttons button:hover {
  border: 2px solid black;
  transition: all 200ms ease-in-out;
}

.forms form .buttons button:nth-child(2) {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.aadhar-inputs {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  width: 20rem;
}

.aadhar-inputs span {
  padding: 0 5px 0 5px;
}

.aadhar-inputs input {
  width: 5rem !important;
}

.name-fail,
.dob-fail,
.aadhar-fail,
.address-fail {
  margin-left: 2rem;
  display: none;
  justify-content: flex-start;
  align-items: center;
  color: red;
  font-size: 0.75rem;
}

.name-fail p,
.dob-fail p,
.aadhar-fail p,
.address-fail p {
  margin-left: 5px;
}

.active {
  display: flex;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader-container {
  display: flex;
  flex-direction: column;
}

.preloader-container .preloader-tub {
  display: none;
  margin-left: 15px;
}

.preloader-container .preloader-tub .preloader {
  border: 3.5px solid #f3f3f3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-top: 3.5px solid #3498db;
  animation: rotate 2s linear infinite;
}

.preloader-container .success {
  color: var(--secondary-color);
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.preloader-container .fail {
  color: red;
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.preloader-container .success i {
  margin-right: 10px;
}

.preloader-container .fail i {
  margin-right: 10px;
}

.preloader-container p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
}
